%h1.display-3 Welcome to wine-pex

- if user_signed_in?
  %h2= link_to 'List all wines', controller: 'wines'
  %h2= link_to 'Add wine', new_wine_path
- else
  %h2= link_to 'Log in', new_user_session_path
