= form_for([@wine, @tasting]) do |f|
  = f.full_text_field :taster, placeholder: 'Your name', class: 'form-control', required: true
  = f.full_text_field :body, placeholder: 'This is très fruité !', class: 'form-control', required: true
  = f.submit 'Create tasting', class: "btn btn-primary"
