- # Navigation bar
%nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  %a.navbar-brand{:href => "#"} wine-pex
  .nav.navbar-nav
    = link_to root_path, class: 'nav-item nav-link active' do
      Home
      %span.sr-only (current)
    - if user_signed_in?
      = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-item nav-link pull-xs-right'
