- # Navigation bar
%nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  %a.navbar-brand{:href => "#"} WinePex
  .nav.navbar-nav
    = link_to t('navigation.home'), root_path, class: 'nav-item nav-link'
    - if user_signed_in?
      = link_to t('navigation.log_out'), destroy_user_session_path, method: :delete, class: 'nav-item nav-link pull-xs-right'
      = link_to current_user.full_name, current_user, class: 'nav-item nav-link pull-xs-right'
    - else
      = link_to t('navigation.log_in'), new_user_session_path, class: 'nav-item nav-link pull-xs-right'
